.main {
  width: 80%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.link {
  text-decoration: none;
  font-family: georgia, "times new roman", times, serif;
  color: black;
  transition-duration: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  width: 500px;
  height: 520px;
}

.img {
  object-fit: cover;
  width: 500px;
  height: 300px;
}
.link:hover {
  opacity: 60%;
}
.section {
  margin: 30px;
  height: 500px;
}
.title {
  font-size: 1.3rem;
}
.desc {
  font-size: 0.8rem;
}
.footer {
  display: flex;
  justify-content: space-between;
}
