.container {
  border-radius: 13px;
  font-family: georgia;
  box-sizing: border-box;
  width: 60%;
  height: 500px;
  margin: auto;
  margin-bottom: 80px;
}
.map {
  width: 100%;
  height: 100%;
  margin: auto;
  border-radius: 13px;
}
.sidebar {
  text-align: center;
}
