.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: #6eac7d 1px double;
  padding: 20px 50px;
}
.header {
  margin: 0;
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
}
.main div {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.link {
  text-decoration: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: black;
  transition: ease 0.1s;
}
.link:hover {
  color: #6eac7d;
}
.img {
  background-color: #6eac7d;
  border-radius: 50%;
  margin-left: 20px;
}
.right {
  width: 200px;
  display: flex;
  justify-content: space-between;
}
